.table-cell {
  width: 150px;
}
img{
  width: 350px;
  height: 450px;
  margin: 10px;
  border-radius: 5%;
  opacity: 100%;
}
.real-img,
.def-img
{
   
}

img:hover{
  cursor: pointer;
}

.show{
  display: block;
}

.hidden{
  display: none;
  
}

.gradient-background {
  background: linear-gradient(to right, #65a27c, #6ab4e3);
}

.result-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  direction: rtl;
}

.result-table{
  direction: rtl;
  align-content: center;
}