.table-cell {
  width: 150px;
}

.real-img
{
  width: 350px;
  height: 450px;
  margin: 10px;
}

.def-img{
  width: 350px;
  height: 450px;
  margin: 10px;
}
img:hover{
  cursor: pointer;
}

.show{
  display: block;
}

.hidden{
  display: none;
  background-color: red;
  font-size: x-large;
}

 